[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
shortuuid = "*"
form = "*"
werkzeug = "*"


[requires]
python_version = "3"

[scripts]
dev = "bash -c \"export FLASK_ENV='development' && flask run --host=0.0.0.0\""
