<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head%}{% endblock head%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/styles/index.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
    <title>URL shortener| {% block title %}{% endblock title %}</title>
  </head>
  <body>
    <nav>
      URL shortener
    </nav>
    <main>{% block content %}{% endblock content %}</main>
    <footer>&copy; Max & Rachael 2021</footer>
  </body>
</html>
