{% extends "layout.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/styles/register.css') }}"
/>
{% endblock head %} {% block title %}{{title}}{% endblock %} {% block content %}
<h1>What's the damage?</h1>
<section id="predictor">
  <form id="submission" action="/prediction" method="POST">
    <span id="register">
      <input
        type="number"
        id="piece_count"
        name="piece_count"
        value="{{default}}"
      />
      piece set
    </span>
    <span id="result">{{result}}</span>
    <input type="submit" id="predict-submit" value="ENT" disabled />
  </form>

  <form id="mailer" action="/reminder" method="POST">
    <input type="hidden" name="piece_count" value="{{default}}" />
    <input type="hidden" name="result" value="{{result}}" />
    <input
      type="email"
      id="to-email"
      name="to_email"
      placeholder="Enter email for receipt"
    />
    <input
      type="image"
      id="mail-submit"
      alt="Mail receipt"
      src="{{ url_for('static', filename='/img/receipt.png') }}"
      disabled
    />
  </form>
</section>

<script src="{{ url_for('static', filename='/js/register.js') }}"></script>
{% endblock %}
